<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ios_messages</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div id="chat-container">
        <div id="messages">
        </div>
        <div id="input-container">
            <textarea id="user-input" placeholder="Type your message..."></textarea>
            <button id="send-button">Send</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/scripts.js"></script>

</body>

</html>